@model MilkyPantsCheese.Pages.AdministradorDeQuesosModel

@foreach (var loteQueso in Model.LotesDeQueso)
{
    <div id="@loteQueso.Id" class="pl-4 pr-4 d-flex flex-row border border-warning rounded">

        @*Id del lote de queso*@
        <div class="col-md-1 col-2 px-0">
            <label>Id: @loteQueso.Id</label>
        </div>

        @*Tipo de queso*@
        <div class="col-md-2 col-3 px-0 d-md-inline d-none">
            <label>Tipo: @loteQueso.TipoQueso.Nombre</label>
        </div>

        @*Cantidad quesos*@
        <div class="col-md-1 col-2 px-0 d-md-inline d-none">
            <label>Quesos: @loteQueso.Quesos.Count</label>
        </div>

        @*Tipo de fermento*@
        <div class="col-md-2 col-3 px-0 d-md-inline d-none">
            <label>Fermento: @loteQueso.Fermento.TipoFermento.Nombre</label>
        </div>

        @*Inicio de curado*@
        <div class="col-md-2 col-4 px-0 d-md-inline d-none">
            <label>Inicio de curado: @loteQueso.FechaInicioCuracion</label>
        </div>

        @*Boton editar*@
        <div class="col-md-1 col-2 text-center" style="padding: 0;">
            <a asp-page="/SusurradorDeQuesos/EditarLoteQueso" asp-route-id="@loteQueso.Id" class="btn btn-warning">Editar</a>
        </div>

        @*Boton eliminar*@
        <div class="col-md-1 col-2 px-sm-0 px-md-2">

            @*Si el lote ya se ha utilizado en algun queso entonces no debemos permitir que sea eliminado*@
            @if (loteQueso.Quesos == null)
            {
                <input type="submit" class="btn btn-warning" value="Eliminar" onclick="BotonEliminarPresionadoHandler(event, @loteQueso.Id)" />
            }
            else
            {
                <input type="submit" class="btn btn-warning" value="Eliminar" onclick="BotonEliminarPresionadoHandler(event, @loteQueso.Id)" disabled="disabled" />
            }

        </div>

        <input id="botonEliminarDirecto" type="submit" asp-page-handler="EliminarLoteQueso" asp-route-id="@loteQueso.Id" class="d-none" />

    </div>
}

<script type="text/javascript">

    function BotonEliminarPresionadoHandler(evento, id) {

        evento.preventDefault();

        $('#contenidoMensaje').html('<div class="d-inline-block flex-column justify-content-between position-absolute" style="margin-right: auto; margin-left: auto; left: 0; right: 0; top: 50%; transform: translateY(-50%);">\n\
                <h2>¿Esta seguro de eliminar este lote de queso?</h2>\n\
                <div class="mt-md-5 mt-sm-2 d-flex flex-row align-self-stretch justify-content-around">\n\
                <button class="btn btn-danger" onclick="ToggleVisibilidadMensaje()">Cancelar</button>\n\
                <button class="btn btn-warning" onclick="AceptarPresionadoHandler(event, ' + id + ')">Aceptar</button>\n\
                </div>');

        ToggleVisibilidadMensaje();
    }

    function AceptarPresionadoHandler(evento, id) {

        evento.preventDefault();

        $.ajax({
            type: "delete",
            url: "/SusurradorDeQuesos/AdministradorDeQuesos?handler=Fermento&id=" + id,
            beforeSend: function(xhr) {
                xhr.setRequestHeader("RequestVerificationToken", $('input:hidden[name=__RequestVerificationToken]').val())
            }
        }).done(function (xhr) {

            if (xhr === "@Constantes.TrueString") {
                $('#' + id).html('');
            }
        });

        ToggleVisibilidadMensaje();
    }

</script>