@page

@using Castle.Core.Internal

@model MilkyPantsCheese.Pages.EditarQuesoModel

@inject MilkyDbContext dbContext

@if (User.IsInRole(Constantes.NombreRolSusurradorDeQuesos))
{
    var lotesQueso = (from c in dbContext.LotesDeQuesos select c).ToList();

    <div class="d-flex flex-column h-75 w-75 position-absolute" style="margin-right: auto; margin-left: auto; left: 0; right: 0;">

        <div class="p-2 border border-warning rounded">
        
            <form method="post"
                  class="d-flex flex-column">

                @*Mensaje de error general*@
                @Html.ValidationMessageFor(m => m.IdQuesoEditado, string.Empty, new { @class = "text-danger" })

                <!--Lote donde el queso sera almacenado-->
                <div class="mt-5 d-flex flex-column">

                    <label asp-for="LoteId"></label>

                    <div class="form-group d-flex flex-row">

                        <select asp-for="LoteId" asp-items="@SelectListItemHelpers.ToSelectListItemListLotesDeQueso(lotesQueso)" class="custom-select mr-2"></select>

                        <a class="nav-link form-text btn btn-warning align-self-center py-1 px-1 mt-0" asp-page="/SusurradorDeQuesos/AdministradorDeQuesos">+</a>
                    </div>

                    @Html.ValidationMessageFor(m => m.LoteId, "", new { @class = "text-danger" })

                </div>

                <!--Seleccion estado del queso-->
                <div class="form-group">

                    <label asp-for="EstadoQueso"></label>
                    <select asp-for="EstadoQueso" asp-items="@Html.GetEnumSelectList<EEstadoQueso>()" class="custom-select"></select>

                    @Html.ValidationMessageFor(m => m.EstadoQueso, "", new { @class = "text-danger" })

                </div>

                <div class="d-flex flex-row flex-wrap">

                    <!--Peso del queso antes de que ser curado-->
                    <div class="form-group">

                        <label asp-for="PesoPreCurado"></label>
                        <input type="text" class="form-text" asp-for="PesoPreCurado" />

                        @Html.ValidationMessageFor(m => m.PesoPreCurado, "", new { @class = "text-danger" })

                    </div>

                    <!--Peso del queso despues de ser curado-->
                    <div class="form-group ml-2 flex-sm-wrap">

                        <label asp-for="PesoPostCurado"></label>
                        <input type="text" class="form-text" asp-for="PesoPostCurado" />

                        @Html.ValidationMessageFor(m => m.PesoPostCurado, "", new { @class = "text-danger" })

                    </div>

                </div>

                <!--Seleccion fecha y horario de finalizacion de curacion del queso-->
                <div class="form-group">

                    <label asp-for="FechaFinalCurado"></label>
                    <input asp-for="FechaFinalCurado" type="date" class="form-control" />

                </div>

                @*Id del modelo siendo editado*@
                <input type="hidden" asp-for="IdQuesoEditado" />

                @*Boton submit*@
                <input type="submit" value="Editar" class="btn btn-warning align-self-start" style="width: 100px" />

            </form>    

        </div>

    </div>
}

