@page
@model MilkyPantsCheese.Pages.RegistrarUsuarioModel
@{
}

<form method="post">
    
    @*Nombre del usuario*@
    <div class="form-group">
        
        <label asp-for="NombreUsuario"></label>
        <input asp-for="NombreUsuario" type="text" class="form-text"/>
        @Html.ValidationMessageFor(m => m.NombreUsuario)
    </div>
    
    @*Contraseña*@
    <div class="d-flex flex-row">
        
        <div class="form-group">
            <label asp-for="Contraseña"></label>
            <input asp-for="Contraseña" type="password" class="form-text" />
            @Html.ValidationMessageFor(m => m.Contraseña)
        </div>
        
        <div class="form-group ml-2 flex-sm-wrap">
            <label asp-for="ConfirmacionContraseña"></label>
            <input asp-for="ConfirmacionContraseña" type="password" class="form-text" />
            @Html.ValidationMessageFor(m => m.ConfirmacionContraseña)
        </div>
    </div>

    @*Seleccion tipo de usuario*@
    <div class="form-group">

        <label asp-for="TipoDeUsuarioSeleccionado"></label>
        <select asp-for="TipoDeUsuarioSeleccionado" asp-items="@Model.TiposUsuarioDisponibles" class="custom-select"></select>

        @Html.ValidationMessageFor(u => u.TipoDeUsuarioSeleccionado, string.Empty, new {@class = "text-danger"})
    </div>
    
    <div class="form-group">
        
        <input asp-for="DuracionSesion" type="time"/>
    </div>

    <input type="submit" class="btn btn-primary" value="Registrar Usuario"/>

</form>