@page

@using Microsoft.AspNetCore.Identity
@using Castle.Core.Internal

@model MilkyPantsCheese.Pages.AdministrarLotesDeLecheModel

@inject MilkyDbContext dbContext

@{
    //Verificamos si el usuario actual tiene el rol de 'MilkyMan'.
    if (User.IsInRole(Constantes.NombreRolMilkyMan))
    {
        var cisternas = (from c in dbContext.Cisternas select c).ToList();

        var tambos = (from c in dbContext.Tambos select c).ToList();
        
        <div class="d-flex flex-column h-75 w-75 position-absolute" style="margin-right: 0; margin-left: 0; left: 0; right: 0;">
            
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'London')">London</button>
                <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
                <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
            </div>
            

            <div class="p-2 border border-warning rounded">

                <div class="pb-3">
                    <h4 class="text-left">Añadir lote:</h4>
                </div>

                <form method="post">

                    <!--Seleccion fecha y horario de ingreso del nuevo lote-->
                    <div class="form-group">

                        <label asp-for="FechaIngreso"></label>
                        <input asp-for="FechaIngreso" type="date" class="form-control" value="@DateTimeOffset.Now" />

                        @Html.ValidationMessageFor(m => m.FechaIngreso, "", new { @class = "text-danger" })

                    </div>

                    <!--Porcentaje de agua en la leche-->
                    <div class="form-group">

                        <label asp-for="PorcentajeAgua"></label>
                        <input type="text" class="form-text" asp-for="PorcentajeAgua" />

                        @Html.ValidationMessageFor(m => m.PorcentajeAgua, "", new { @class = "text-danger" })

                    </div>

                    <!--Temperatura de la leche-->
                    <div class="form-group">

                        <label asp-for="Temperatura"></label>
                        <input type="text" class="form-text" asp-for="Temperatura" />

                        @Html.ValidationMessageFor(m => m.Temperatura, "", new { @class = "text-danger" })

                    </div>

                    <!--Acidez de la leche-->
                    <div class="form-group">

                        <label asp-for="Acidez"></label>
                        <input type="text" class="form-text" asp-for="Acidez" />

                        @Html.ValidationMessageFor(m => m.Acidez, "", new { @class = "text-danger" })

                    </div>

                    <!--Disponibilidad del lote-->
                    <div class="form-group d-flex flex-row">

                        <input type="checkbox" value="true" class="form-text" asp-for="EstaDisponible" />
                        <label asp-for="EstaDisponible" class="ml-3"></label>

                    </div>

                    <!--Cisterna donde se almacenara-->
                    <div class="form-group">

                        <label asp-for="CisternaId"></label>
                        <select asp-for="CisternaId" asp-items="@SelectListItemHelpers.ToSelectListItemListCisterna(cisternas)" class="custom-select"></select>

                        @Html.ValidationMessageFor(m => m.CisternaId, "", new { @class = "text-danger" })

                    </div>

                    <!--Tambo del que proviene la leche-->
                    <div class="form-group">

                        <label asp-for="TamboId"></label>
                        <select asp-for="TamboId" asp-items="@SelectListItemHelpers.ToSelectListItemListTambos(tambos)" class="custom-select"></select>

                        @Html.ValidationMessageFor(m => m.TamboId, "", new { @class = "text-danger" })

                    </div>

                    <!--Notas adicionales sobre la leche -->
                    <div class="form-group">

                        <label asp-for="NotasAdicionales"></label>
                        <textarea class="form-text overflow-auto w-100" asp-for="NotasAdicionales"></textarea>

                    </div>

                    <!--Imagen de planilla opcional con mayores detalles-->
                    <div class="form-group custom-file mt-2">

                        <input type="file" id="imagenPlantilla" class="custom-file-input" accept="image/jpg, image/png, image/jpeg" asp-for="ImagenPlanillita" />
                        <label class="custom-file-label" asp-for="ImagenPlanillita"></label>

                        @Html.ValidationMessageFor(m => m.ImagenPlanillita, "", new { @class = "text-danger" })

                    </div>

                    <!--Boton submit-->
                    <div class="mt-3">

                        <input type="submit" value="Añadir" class="form-text btn btn-warning" />

                    </div>

                </form>

            </div>
            
            <div class="mt-3 p-2 border border-warning rounded">

                <div class="pb-3">
                    <h4 class="text-left">Lotes:</h4>
                </div>
                
                <form id="formLotes">
                    
                    <div>

                        <label asp-for="CisternaLotesId"></label>
                        <select asp-for="CisternaLotesId" asp-items="@SelectListItemHelpers.ToSelectListItemListCisterna(cisternas)" onchange="cambioItemSeleccionado()" class="custom-select"></select>

                        @Html.ValidationMessageFor(m => m.CisternaLotesId, "", new { @class = "text-danger" })

                    </div>

                </form>

                <div id="listaLotes">
                    
                    <partial name="_Lotes"/>

                </div>

            </div>

        </div>
    }
}

@section Scripts
{

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
                  
    <script type="text/javascript">

        $('#imagenPlantilla').on('change', archivoSeleccionadoHandler);

        cambioItemSeleccionado();

        function cambioItemSeleccionado() {
            $.ajax({
                type: "post",
                url: "/MilkyMan/AdministrarLotesDeLeche?handler=FiltradoLotes",
                beforeSend: function (xhr) { xhr.setRequestHeader("RequestVerificationToken", $("input:hidden[name=__RequestVerificationToken]").val()) },
                data: $('#formLotes').serialize()
            }).done(function (resultado) { $('#listaLotes').html(resultado); console.log(resultado); });
        }

        @* Metodo llamado cuando el archivo seleccionado cambio*@
        function archivoSeleccionadoHandler(evento) {
            var target = evento.target;

            target.nextElementSibling.innerText = target.files[0].name;
        }

    </script>
}
