@page

@using Castle.Core.Internal
@using MilkyPantsCheese.Helpers

@model MilkyPantsCheese.Pages.EditarLoteLecheModel

@inject MilkyDbContext dbContext

@if (User.IsInRole(Constantes.NombreRolMilkyMan))
{
    var cisternas = (from c in dbContext.Cisternas select c).ToList();

    var tambos = (from c in dbContext.Tambos select c).ToList();

    <div class="d-flex flex-column h-75 w-75 position-absolute" style="margin-right: auto; margin-left: auto; left: 0; right: 0;">

        <div class="p-2 border border-warning rounded">

            <form method="post"
                  class="d-flex flex-column">

                @*Mensaje de error general*@
                @Html.ValidationMessageFor(m => m.IdLoteLecheEditado, string.Empty, new { @class = "text-danger" })

                <!--Seleccion fecha y horario de ingreso del nuevo lote-->
                <div class="form-group">

                    <label asp-for="FechaIngreso"></label>
                    <input asp-for="FechaIngreso" type="date" class="form-control" value="@DateTimeOffset.Now" />

                </div>

                <!--Porcentaje de agua en la leche-->
                <div class="form-group">

                    <label asp-for="PorcentajeAgua"></label>
                    <input type="text" class="form-text" asp-for="PorcentajeAgua" />

                    @Html.ValidationMessageFor(m => m.PorcentajeAgua, "", new { @class = "text-danger" })

                </div>

                <!--Temperatura de la leche-->
                <div class="form-group">

                    <label asp-for="Temperatura"></label>
                    <input type="text" class="form-text" asp-for="Temperatura" />

                    @Html.ValidationMessageFor(m => m.Temperatura, "", new { @class = "text-danger" })

                </div>

                <!--Acidez de la leche-->
                <div class="form-group">

                    <label asp-for="Acidez"></label>
                    <input type="text" class="form-text" asp-for="Acidez" />

                    @Html.ValidationMessageFor(m => m.Acidez, "", new { @class = "text-danger" })

                </div>

                <!--Disponibilidad del lote-->
                <div class="form-group d-flex flex-row">

                    <input type="checkbox" class="form-text" asp-for="EstaDisponible" />
                    <label asp-for="EstaDisponible" class="ml-3"></label>

                </div>

                <!--Notas adicionales sobre la leche -->
                <div class="form-group">

                    <label asp-for="NotasAdicionales"></label>
                    <textarea class="form-text overflow-auto w-100" asp-for="NotasAdicionales"></textarea>

                </div>

                <!--Imagen de planilla opcional con mayores detalles-->
                <div class="form-group custom-file mt-2">

                    <label>Planilla actual:</label>
                    <img src="data:image;base64,@Convert.ToBase64String(Model.ImagenPlanilla)" style="max-height: 100px; max-width: 100px;" />

                    <input type="file" id="imagenPlantilla" class="custom-file-input" accept="image/jpg, image/png, image/jpeg" asp-for="ImagenPlanillita" />
                    <label class="custom-file-label" asp-for="ImagenPlanillita"></label>

                    @Html.ValidationMessageFor(m => m.ImagenPlanillita, "", new { @class = "text-danger" })

                </div>

                <!--Cisterna donde se almacenara-->
                <div class="form-group mt-5">

                    <label asp-for="CisternaId"></label>
                    <select asp-for="CisternaId" asp-items="@SelectListItemHelpers.ToSelectListItemListCisterna(cisternas)" class="custom-select"></select>

                    @Html.ValidationMessageFor(m => m.CisternaId, "", new { @class = "text-danger" })

                </div>

                <!--Tambo del que proviene la leche-->
                <div class="form-group mt-5">

                    <label asp-for="TamboId"></label>
                    <select asp-for="TamboId" asp-items="@SelectListItemHelpers.ToSelectListItemListTambos(tambos)" class="custom-select"></select>

                    @Html.ValidationMessageFor(m => m.TamboId, "", new { @class = "text-danger" })

                </div>

                @*Id del modelo siendo editado*@
                <input type="hidden" asp-for="IdLoteLecheEditado" />

                @*Boton submit*@
                <input type="submit" value="Editar" class="btn btn-warning align-self-start" style="width: 100px" />

            </form>

        </div>

    </div>
}

