@page

@using Castle.Core.Internal
@using Microsoft.EntityFrameworkCore

@model MilkyPantsCheese.Pages.EditarLoteLecheModel

@inject MilkyDbContext dbContext

@{
    var cisternas = await (from c in dbContext.Cisternas select c).ToListAsync();

    var tambos = await (from c in dbContext.Tambos select c).ToListAsync();

    Model.loteSiendoEditado = await dbContext.LotesDeLeche.FirstOrDefaultAsync(l => l.Id == Model.IdLoteLecheEditado);
}

<div class="d-flex flex-column h-75 w-75 position-absolute" style="margin-right: auto; margin-left: auto; left: 0; right: 0;">

    <div class="p-2 border border-warning rounded">

        <div class="pb-3">
            <h4 class="text-left">Añadir lote:</h4>
        </div>
        
        @Html.ValidationSummary(true)

        <form enctype="multipart/form-data" method="post">

            <!--Seleccion fecha y horario de ingreso del nuevo lote-->
            <div class="form-group">

                <label asp-for="FechaIngreso"></label>
                <input asp-for="FechaIngreso" type="datetime-local" class="form-control" />

                @Html.ValidationMessageFor(m => m.FechaIngreso, "", new { @class = "text-danger" })

            </div>

            <div class="d-flex flex-row flex-wrap">

                <!--Porcentaje de agua en la leche-->
                <div class="form-group mr-2">

                    <label asp-for="PorcentajeAgua"></label>
                    <input type="text" class="form-text" asp-for="PorcentajeAgua" />

                    @Html.ValidationMessageFor(m => m.PorcentajeAgua, "", new { @class = "text-danger" })

                </div>

                <!--Temperatura de la leche-->
                <div class="form-group mr-2 flex-sm-wrap">

                    <label asp-for="Temperatura"></label>
                    <input type="text" class="form-text" asp-for="Temperatura" />

                    @Html.ValidationMessageFor(m => m.Temperatura, "", new { @class = "text-danger" })

                </div>

                <!--Acidez de la leche-->
                <div class="form-group flex-sm-wrap">

                    <label asp-for="Acidez"></label>
                    <input type="text" class="form-text" asp-for="Acidez" />

                    @Html.ValidationMessageFor(m => m.Acidez, "", new { @class = "text-danger" })

                </div>

            </div>

            <!--Disponibilidad del lote-->
            <div class="form-group d-flex flex-row">

                @await Html.PartialAsync("_CheckBox", new ModeloCheckbox
                {
                    checkBox = Html.CheckBoxFor(m => m.EstaDisponible, new { @class = "custom-control-input mr-2" }),
                    nombrePropiedad = nameof(Model.EstaDisponible),
                    contenido = string.Empty
                })
                <label asp-for="EstaDisponible"></label>

            </div>

            <div class="d-flex flex-row flex-wrap">

                <!--Cisterna donde se almacenara-->
                <div class="form-group d-flex flex-column">

                    <label asp-for="CisternaId"></label>
                    <select asp-for="CisternaId" asp-items="@SelectListItemHelpers.ToSelectListItemListCisterna(cisternas)" class="custom-select" style="min-width: 150px; max-width: 300px;"></select>

                    @Html.ValidationMessageFor(m => m.CisternaId, "", new { @class = "text-danger" })

                </div>

                <!--Tambo del que proviene la leche-->
                <div class="form-group d-flex flex-column ml-2 flex-sm-wrap">

                    <label asp-for="TamboId"></label>
                    <select asp-for="TamboId" asp-items="@SelectListItemHelpers.ToSelectListItemListTambos(tambos)" class="custom-select" style="min-width: 150px; max-width: 300px;"></select>

                    @Html.ValidationMessageFor(m => m.TamboId, "", new { @class = "text-danger" })

                </div>

            </div>

            <!--Notas adicionales sobre la leche -->
            <div class="form-group">

                <label asp-for="NotasAdicionales"></label>
                <textarea class="form-text overflow-auto w-100" asp-for="NotasAdicionales"></textarea>

            </div>


            <!--Imagen de planilla opcional con mayores detalles-->
            <div class="col-md-9 col-12 pl-0">

                <div class="input-group">

                    <label class="input-group-btn">

                        <span class="btn btn-warning rounded-left rounded-right-0">
                            Seleccionar archivo <input type="file" asp-for="ImagenPlanillita" class="d-none" title="Imagen planillita">
                        </span>

                    </label>

                    <input type="text" class="form-control texto-input-archivo" readonly>

                    @Html.ValidationMessageFor(m => m.ImagenPlanillita, "", new { @class = "text-danger" })

                </div>

            </div>

            <label>Planilla actual:</label>
            
            <div class="w-50" style="max-height: 500px; max-width: 50%; left: 0; right: 0; margin-left: auto; margin-right: auto;">

                <img src="data:image;base64,@Convert.ToBase64String(Model.loteSiendoEditado.ImagenPlanilla)" style="width: 100%; height: 100%"/>

            </div>

            <!--Boton submit-->
            <div class="mt-3">

                <input type="submit" value="Editar" class="form-text btn btn-warning" />

            </div>
            
            @*Id del modelo siendo editado*@
            <input type="hidden" asp-for="IdLoteLecheEditado" value="@Model.IdLoteLecheEditado"/>

        </form>

    </div>

</div>